.r2cContainer{
    border: 6px solid #E0E0E0;
    margin-bottom:20px;
    padding:7px;
    overflow:auto;
    max-height: 700px;
    .table{
              margin-bottom:0px;  

              thead > th > tr:first-child,tbody > tr > td:first-child{
                                 width:10px;
                             }
          }
}

.r2c-item-list {
    .edge{
    transform: rotate(226deg);
    float: left;
    width: 0;
    height: 0;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 23px solid #e0e0e0;
    position: absolute;
    text-align: right;
    margin-top: -11px;
    cursor:pointer;
         }
         i{
             position: absolute;
                color: black;
                margin-top: 9px;
                margin-left: 7px;
                cursor:pointer;
         }
}